# Block common file extensions
*.exe
*.doc
*.docx
*.gdoc

# block this file from git
/04_Project/Project_scripts/modules/secrets.bicep
/04_Project/administration/notes.md
/testscrips_project/Project_test_scripts/modules/secrets.bicep
/04_Project_v1.0/modules/sshkey.bicep
/04_Project_v1.0/modules/sshkey.pub